*{
    margin: 0;
    padding: 0;
}
header{
    background-image:linear-gradient(180deg,rgba(126, 36, 14, 0.7) 0,rgba(0, 0, 0, 0.7) 100%), url(/src/assets/images/oo.png);
    height: 700px;
    padding: 200px 0;
    text-align: center;
    background-color: #9e3e06f5;
    width: 100%;
    background-position:center ;
    background-repeat: no-repeat;
    background-attachment: fixed
}
header h1{
    color: #fff;
    margin: 0 auto 40px;
    /* transform: translate(-50%,-50%); */
    font-size: 58px;
}
header a {
    padding: 12px 15px;
    border: 1px solid #fff;
    width: 200px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.4s all ease-in;
    margin-left: 15px;
    border-radius: 4px;
}
header a:hover, header a:focus {
    outline: none;
    background: #9e3e06;
    color: #fff;
    border: 1px #fff solid;
}
header p{
    font-size: 30px;
    color:#fff;
    margin-top: 20px
}


.fonts{
   left: 3%;
   right: 6%; 
   /* padding-right:0px  */
}.fonts fa{
   font-size: 80px;
   border: 1px#9e3e06f5 solid;
   padding: 0px 18px;
   margin: 2px 8px 40px;
}
.aboutPage h2{
    margin-top: 3%;
    margin-left: 16%;
}
.about{
    margin-top: 4%;
}.about fa:hover{
color: #9e3e06f5;
border: 1px#494947 solid;

}
.para p{
    font-size: 20px;
    margin-left: 18%;
}
.para li{
    padding: 0px 15px;
    font-size: 20px;
    list-style: none;
     margin: 40px 0px 0px 16%;
     color: #494947;
}

h2:after{
    width: 100px;
    height:2px;
    content: " ";
    background-color:#9e3e06f5 ;
    display: block;
    margin: 0 auto;
   margin-top: 20px;}

/*MEDIA QUERIES*/
@media screen and (max-width:320px){
    header a{
        width: 150px;
       display: block;
       margin-left: 80px;
    padding: 8px 12px;
    font-size: 18px
    }
    header h1{
        font-size: 36px
    }
}
@media screen and (max-width:375px){
   
    header a{
        width: 150px;
       display: block;
       margin-left: 80px;
    padding: 8px 12px;
    font-size: 18px
    }
    header h1{
        font-size: 36px
    }
}



/* @media screen and (max-width:320px){
    header{
        width: 100%;
     
    }
    .glob p{font-size: 2.8em;}
    .para{display: flex;margin-left: 70px}
    .aboutPage h2{ 
        margin-left: 300px;display: block;
        margin-top: 50px
    }
    .about{
        padding-top: 60px
    }
    .fonts{
        display: flex;
        margin-left: 350px;
        bottom: 300px
    }
    .font2 h4[class="css"]{
        margin-left: 40px
    }
    .glob small{
        font-size: 24px
    }
    .glob  span[class="bot"]{
        left: 238px;
        bottom: 2px
      }
      .glob  span[class="cv"]{
        left: 500px;
       bottom: 2px;
        
      }
}
@media screen and (max-width:375px){
    .para{display: flex;margin-left: 70px}
    .aboutPage h2{ 
        margin-left: 300px;display: block;
        margin-top: 50px
    }
}
@media screen and (max-width:575.98px){
    header{
        width: 100%;
        padding: 402px;
    }
    .glob small{
        font-size: 28px
    }
    .glob p{
        font-size: 48px
    }
    .glob  span[class="bot"]{
        left: 238px;
       bottom: 2px;
      }
      .glob  span[class="cv"]{
        left: 500px;
       bottom: 2px;
        
      }
      .about{ margin-left: 60px }
      .fonts{display: flex;}
} */
