<div class="container-fluid">
<header id="home">
  <h1>I'M  <span class="typed-element"></span></h1>
  <a href="https://twitter.com/buchi_princee" class="bot">Contact Me</a>
  <a href="https://docs.google.com/document/d/1io-H_we4WDkoX77AEtT09JbnJAqImKgb0oo0HnDXkYg/edit?usp=sharing" class="cv">Download my CV</a> 
  <p>Freelancer, Web Developer.</p>
</header>

<div class="container aboutPage"  [@bounceInUp]="bounceInUp" id="about">
  <h2 class="text-center" ><b>ABOUT ME</b></h2>
  <div class="row about">
    <div class="col-md-6 para">
      <p>I'm a Web developer, passionate about what i do. Am a motivated,adaptable and responsible person willing and able to to complete projects quickly and accurately. Offering a flexible schedule,strong attention to detailed technology  background. I have a methodical, customer-focused approach to work and a strong drive to see things through to completion,i also widen my horizon everyday and bring tactical ideas to life and love trying out things that seem impossible .</p>
      <ul>
        <li><span><strong>Full Name</strong></span>       :         Onyebuchi Prince</li>
        <li><span><strong>Address</strong></span>   :         PortHarcourt / River State</li>
        <li><span><strong>Phone</strong></span>      :         +2348067484456</li>
        <li><span><strong>Email</strong></span>    :         princelaw568@gmail.com</li>
      </ul>
    </div>
    <div class="col-md-6 fonts">
      <div class="row font1">
        <div class="col-md-6">
            <fa name="code"></fa>
            <h4>PHP</h4>
        </div>
        <div class="col-md-6">
            <fa name="television"></fa>
            <h4>FRONTEND</h4>
        </div>
      </div>
      <div class="row font2">
        <div class="col-md-6">
            <fa name="html5"></fa>
            <h4>HTML5</h4>
        </div>
        <div class="col-md-6">
            <fa name="css3"></fa>
            <h4 class="css">CSS3</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

