    *{
        margin: 0;
        padding: 0;
    }
h2:after{
    width: 100px;
    height:2px;
    content: " ";
    background-color:#9e3e06f5 ;
    display: block;
    margin: 0 auto;
   margin-top: 20px;
}
.portfolio h2{
    margin-top: 100px;
    margin-left: 16%;
}

.portfolio .left{
    width: 100%;
    box-shadow:0px 5px 12px 0px rgb(209, 204, 204);
    margin-left: 30px;
    margin-top: 55px;
    height: 230px;
    border-left:4px #9e3e06f5  solid;
}
.portfolio .center{
    width: 100%;
    box-shadow:0px 5px 12px 0px rgb(209, 204, 204);
    margin-left: 80px;
    margin-top: 55px;
    height: 230px;
    border-left:4px #9e3e06f5  solid;
}
.portfolio .right{
    width: 100%;
    box-shadow:0px 5px 12px 0px rgb(209, 204, 204);
    margin-left: 120px;
    margin-top: 55px;
    height: 230px;
    border-left:4px #9e3e06f5  solid;
}
.left h5,.right h5{
    font-size: 18px;
    margin-left: 30px;
 
}
.left h3{
    font-size: 35px;
    margin-left: 90px;
    padding-top: 40px
}
.left p{
    margin-left: 90px;
   padding-top: 43px; 
    color: #494947;
    font-size: 13px;
}

.center h3{
    font-size: 35px;
    margin-left: 90px;
    padding-top: 40px;
}
a{
    text-decoration: none;
    color: #494947;
}
.center p{
    margin-left: 90px;
    padding-top: 43px; 
     color: #494947;
     font-size: 13px;
}
.center h5{
    margin-left: 60px
}
.right h3{
    font-size: 35px;
    margin-left: 22px;
    padding-top: 40px;
}
.right p{
    margin-left: 100px;
    padding-top: 43px; 
     color: #494947;
     font-size: 13px;
}
.left:hover,.center:hover,.right:hover{
transform: scale(1.1);
transition: all 0.5s ease-in;
}


    /****MEDIA QUERIES*********/
    @media screen and (max-width:320px){
        .portfolio .left{
            margin: 18px 20px auto;
            width: 270px
        }
        .portfolio .center{
            margin: 18px 20px auto;
            width: 270px
        }
        .portfolio .right{
            margin: 18px 20px auto;
            width: 270px
        }
        .left h3{
    margin-right: 18px;
    font-size: 30px;
    margin-left: 65px
        }
        .left p,.left h5{
            margin-left: 40px
        }
        .center h3{
            margin-right: 18px;
    font-size: 30px;
    margin-left: 65px
        }
        .center p,.right p{
           margin-left: 50px
        }
       
        .right h5{
    margin-right: 18px
        }
        .right h3{
                font-size: 25px;
                text-align: center
            }
            .right h5{
                margin-right: 18px
                    }
        }
        @media screen and (max-width:375px){
            .portfolio .left{
                margin: 18px 20px auto;
                width: 270px
            }
            .portfolio .center{
                margin: 18px 20px auto;
                width: 270px
            }
            .portfolio .right{
                margin: 18px 20px auto;
                width: 270px
            }
            .left h3{
        margin-right: 18px;
        font-size: 30px;
        margin-left: 65px
            }
            .left p,.left h5{
                margin-left: 40px
            }
            .center h3{
                margin-right: 18px;
        font-size: 30px;
        margin-left: 65px
            }
            .center p,.right p{
               margin-left: 50px
            }
           
            .right h5{
        margin-right: 18px
            }
            .right h3{
                    font-size: 25px;
                    text-align: center
                }
                .right h5{
                    margin-right: 18px
                        }
            }
            @media screen and (max-width:768px){
           .portfolio .left,.portfolio .center,.portfolio .right{
               margin: 20px 20px auto;
               height: 250px;
               width: 230px
           }
           .left h3,.center h3,.right h3{
                font-size: 28px;
                margin-left: 38px;
                text-align: center
           }
           .left h5,.center h5,.right h5{
               text-align: center;
               margin-left: 4px
           }
                }