<div class="container" [@bounceInUp]='bounceInUp'>
    <div class="portfolio">
      <h2 class="text-center" id="port"><b>PROJECTS</b></h2>
      <div class="row image">
        <div class="col-md-4">
         <div class="left">
         <a href="#"> <h3>Outfit7.com</h3></a>  
           <p><i><b>Tech Used</b>: JS, HTML/CSS, PHP</i></p>
           <h5>Outfit7 gives you your online wardrobe</h5>
         </div>
        </div>
        <div class="col-md-4">
          <div class="center">
           <a href="#"> <h3>Js Pig-Game</h3></a>
            <p><i><b>Tech Used</b>: JS, HTML/CSS</i></p>
            <h5>A fun Javascript Pig Game</h5>
          </div>
          </div>
          <div class="col-md-4">
            <div class="right">
             <a href="https://princelee1.github.io/"> <h3>Huddle Landing Page</h3></a>
              <p><i><b>Tech Used</b>: HTML/CSS</i></p>
              <h5>A Frontend Challenge of a Landing Page</h5>
            </div>
            </div>
            </div>
            </div>
            </div>