h4{
    margin-top:20%;
    margin-left: 10%;
    color: #9e3e06f5 ;
    font-size: 40px;
} 
p{
    margin-top:3%;
    margin-left: 10%;  
    font-size: 26px; 
}
p a,span{
   text-decoration: none;
   color: #9e3e06f5 ;
   
}
p a:hover{
background-color: #9e3e06f5 ;
color: white;     
}
/*MEDIA QURIES*/

@media screen and (max-width:800px) and (max-height:1280px){
   p,h4{
       margin-left: 5%;
   }
 }